# no license infnbot.pl (c) theinfinitynetwork.org
$VERSION = "infnbot 0.01 - http://theinfinitynetwork.org/";

$savebrain = 1;
$brainpath = './';

print "*** $0 loaded config file\n";

# IRC and bot specification

#$botnick = "infn".$$;
$botnick = "infnbot";

$username = "someuser";
$ircname = "somename";
$server="irc.mibbit.net";
$port=6667;

@channels = ('#khao');